.changebg1{
    background-attachment: fixed ;
    background-position: center ;
    background-repeat: no-repeat ;
    background-size: cover ;
    animation: changingbgimg 100s infinite ease-in;

}
.levitateanimation{
    animation: levitate 4s infinite linear;
}


@keyframes changingbgimg{
    0%, 100%{background-image:url(https://images.pexels.com/photos/572897/pexels-photo-572897.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) ;}
    20%{background-image: url(https://images.pexels.com/photos/2387873/pexels-photo-2387873.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);}
    30%{background-image: url(https://images.pexels.com/photos/2258536/pexels-photo-2258536.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);}
    40%{background-image: url( https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);}
    50%{background-image: url(https://images.pexels.com/photos/414171/pexels-photo-414171.jpeg?cs=srgb&dl=pexels-pixabay-414171.jpg&fm=jpg)}
    60%{background-image: url(https://images.pexels.com/photos/709552/pexels-photo-709552.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)}
    70%{background-image: url(https://images.pexels.com/photos/66997/pexels-photo-66997.jpeg?cs=srgb&dl=pexels-no-name-66997.jpg&fm=jpg);}
}

@keyframes levitate{
    0%{ transform: translateY(0px);}
    50%{transform: translateY(-20px);}
}

