@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Signika+Negative&display=swap');
:root{
    --BackgroundColor: #eeeeee;
    --PrimaryColor: #242424;
    --SecondaryColor: #2098d8;
    --TrimaryColor: #d82020;
    --NavbarBGColor: #ffffff;
    --Font1: 'Signika Negative';
    --Font2: 'Maven Pro';
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--Font1);
    color: var(--PrimaryColor);
}

p, span, a, article, small{
    color: var(--PrimaryColor);
    font-family: var(--Font2);
}
nav{
    color: var(--PrimaryColor) !important;
    background-color: var(--NavbarBGColor);
}
nav img{
    width: 30px;
}

.btn, .btnlink{
    border: solid var(--PrimaryColor) 2px;
    padding: 15px;
    background-color: transparent;
}

.asset1{
    border-top: solid var(--SecondaryColor) 4px;
}

.asset2{
    border-top: solid var(--TrimaryColor) 4px;
}


#contact input, #contact textarea{
    width: 65vw;
    height: 50px;
    padding: 5px;
    margin-bottom: 20px;
    resize: none;
}
 #contact textarea{
     height: 150px;
 }
