#IntroAsset{
    clip-path: polygon(50% 0%, 100% 0, 100% 85%, 66% 62%, 34% 91%, 0 81%, 0 0);
    background: rgb(0,176,255); 
    overflow: hidden;
    height: 5vh;
    margin-bottom: 7%;
    background: linear-gradient(90deg, rgba(0,176,255,1) 0%, rgba(0,116,255,1) 100%);
}

#Introduction{
    height: 100vh;
    color: var(--NmlTextColor);
}
#IntroNav{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding-bottom: 40px;
    margin: 0px;
}
.Introlink{
    border-right: solid rgb(255, 255, 255) .5px;
    border-left: solid rgb(255, 255, 255) .5px;
   
}
.Introlink a{ color: var(--NmlTextColor) !important;}
#ID{
    padding: 5vw 10vw;
    margin-bottom: 10vw;
}
#IdContainer{
    background-color: var(--OpBackgroundColor);
    padding: 40px 20px;
    color: var(--OpTextColor) !important;
    clip-path: polygon(10% 13%, 10% 0, 100% 0, 100% 100%, 90% 91%, 90% 100%, 0 100%, 0 0);
    height: 100%;
}
#IdContainer img{
    width: 200px;
}

#Skillset{
    background-color: var(--OpBackgroundColor);
    padding: 40px;
}
.skillsetCard{
    height: 100%;
    overflow: hidden;
    text-align: center;
}
.skillsetCard p{
    padding: 20px;
}
.skillsetCard img{
height: 100px;
 width: auto;
}

#Services{
    color: var(--NmlTextColor) !important;
    text-align: center;
    padding: 5%;
}
#Services h2, #Services p{
    text-align: left;
    
}
#Services h2{
    margin-top: 7%;
}

#Services img{
    width: auto;
    height: 15vw;
    min-height: 200px !important;
}

#Services div{
    margin-bottom: 20px;
    padding: 20px;
}

#Partners{
    background-color: var(--OpBackgroundColor) !important;
}

#Partners .Pitem{
    height: 100%;
    padding: 30px;
}

#Partners .Pitem a img{
    width: 50% ;
    height: auto;
}
#Partners .Pitem p{
    padding: 0px 20%;
}

#Contact .row{
    margin: 100px 2vw;
    padding: 20px;
    background-color: var(--OpBackgroundColor);
}
#Contact img{
    width: 50vw;
    max-width: 200px;
    margin-bottom: 20px;
}
#Contact input, #Contact textarea{
    margin: 10px 0px;
     border: 2px black solid;
     padding: 5px;
     width: 70%;
}

#Contact textarea{
    height: 150px;
    content: "";
}