@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Signika:wght@300&display=swap');

:root {
    --PrimaryColor: #00f597;
    --SecondaryColor: #181818;
    --BackgroundColor: rgb(255, 255, 255);
}
body{
    margin: 0px !important;
    padding: 0% !important;
    background-color: var(--BackgroundColor);
    height: 100%;
}
.wrap{
    overflow: hidden;
}
h1,h2,h3,h4,h5,h6{font-family: 'Signika';color:var(--PrimaryColor)}

p,span,article,i,span,small,b,a{font-size: 15px; font-family: 'Maven Pro'; color: var(--SecondaryColor);}

.btnlink{
    padding: 10px 20px;
    border: 2px var(--PrimaryColor) solid;
    font-family: 'Raleway';
    color: var(--PrimaryColor);
    display: inline-block;
    -webkit-box-shadow: 14px 14px 32px -23px rgba(28,28,28,1);
    -moz-box-shadow: 14px 14px 32px -23px rgba(28,28,28,1);
    box-shadow: 14px 14px 32px -23px rgba(28,28,28,1);
}
footer{
    padding: 2vw;
    background-color: var(--BackgroundColor);
    color: var(--PrimaryColor);
    border-top: solid white 2px;
}
footer img{
    width: 200px;
}
footer div{
    margin: 20px 0px;
}
footer a{
    color: var(--OpposingNmlTextColor);
    text-decoration: none;border-bottom: solid transparent 1px;
    margin: 5px;
    display: inline-block;
    font-size: 20px;
}
footer img{
    background-color: var(--NmlTextColor);
    width: 40px;
}
footer a:hover{
     animation: anchorhover 15s linear infinite alternate;
    text-decoration: none;
    color: var(--NmlTextColor);
}