@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&family=Roboto:wght@300&display=swap');
:root {
--cg-red: #e63535ff;
--dark-pastel-green: #41c441ff;
--verdigris: #24a8a8ff;
--magnolia: #faf5faff;
--bg: #FAF5FA;
--emtxt: #ffffff;
--txt: ##21211fff;
--aHover: #24a8a8ff;
--emtxtfont:'Raleway';
--txtfont: 'Roboto';
}

body{
    margin: 0%;
    padding: 0%;
    height: auto;
    background: var(--bg);
    max-width: 100vw !important;
}
@-webkit-keyframes ParallaxBG {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
@-moz-keyframes ParallaxBG {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
@-o-keyframes ParallaxBG {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
@keyframes ParallaxBG {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
section{
    max-width: 100vw;
    margin: 0%;
	padding 0%;
}
section::after{
    
}
h1,h2,h3,h4,h5,h6,span{
    font-family: var(--emtxtfont), sans-serif;
    color: var(--emtxt);
}
a{
    text-decoration: none;
    border: solid var(--ahover) 5px;
}
a:hover{
    color: var(--ahover);
    border: solid var(--ahover) 5px;
}
p,article,area,li,a,ul{
    font-family: var(--txtfont), sans-serif;
    color: var(--txt);
}
::-webkit-scrollbar-thumb{
    background: #303030;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0A0A0A;
}
::-webkit-scrollbar{
    width: 15px;
    height: 10px;
}
#Introduction{
    height: 90vh;
    text-align: center;
    padding-top: 10vh;

}
#Introduction div{
padding: 10px;
 background: linear-gradient(0deg, #0081d9, #009d7c, #008c49, #3700bf, #001cff);
    background-size: 1000% 1000%;

    -webkit-animation: ParallaxBG 59s ease infinite;
    -moz-animation: ParallaxBG 59s ease infinite;
    -o-animation: ParallaxBG 59s ease infinite;
    animation: ParallaxBG 59s ease infinite;
}
#Introduction h1{
    font-size: 4rem;
    letter-spacing: 20px;
}

#AboutMe{
background-color: var(--bg) !important;  
text-align: center;
margin: 0%;
width: 99vw;
}
#Aboutme div{
    margin: 0;
}
